@import "tailwindcss";

@theme {
    --font-principal: "Fira Sans", sans-serif;
    --color-fundo: #f1f1e7;
    --color-texto-main: #120f22;
    --color-discreto: #565072;
    --color-destaque: #8c52ff;
}

@layer base {
    body {
        @apply min-h-full w-full bg-fundo font-principal text-texto-main;
    }

    .componente{
        @apply sm:ml-[400px] sm:mb-0 mb-64;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-fundo: #120f22;
        --color-texto-main: #f1f1e7;
    }
}

@import "./components/Navbar.css"