@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

@theme {
    --fonte: "Fira Sans", sans-serif;

    --cor-fundo: #f1f1e7;
    --cor-texto: #120f22;

    @media (prefers-color-scheme: dark) {
        --cor-fundo: #120f22;
        --cor-texto: #f1f1e7;
    }
}

@layer base {
    body {
        min-height: 100vh;
        width: 100vw;
        background-color: var(--cor-fundo);
        color: var(--cor-texto);
    }
}