@import "tailwindcss";

@theme {
    --font-principal: "Fira Sans", sans-serif;

    --color-fundo: #f1f1e7;
    --color-texto-main: #120f22;
    --color-discreto: #565072;
    --color-destaque: #8c52ff;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-fundo: #120f22;
        --color-texto-main: #f1f1e7;
    }
}

@layer base {
    body {
        min-height: 100vh;
        width: 100vw;
        background-color: var(--color-fundo);
        color: var(--color-texto-main);
        font-family: var(--font-principal);
    }
}